.aowu-button_primary {
  padding: 5px 8px;
  display: inline-block;
  background-color: #07c160;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}
html,
body,
#app,
nav {
  width: 100%;
  height: 100%;
}
body {
  background: #000 !important;
}
